*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body{
    background-color: rgb(13, 13, 71);   
 
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 260px;
    min-height: 100vh;
    transform: translateX(200%);
    border-radius: 41px;
    
}

.home-cont{
    background-color: rgb(13, 13, 71);

}
h3 > span{
    color: red;
}

.foul-record{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
   
}
.foul-record .foul{
    color: white;
    font-size: 14px;
}

.foul-record .time{
    color: red;
    font-size: 20px;
    background-color: black;
}
.home-cont h3{
    color: aliceblue;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.score{
    background-color: black;
   margin-top: -10px;
   border-radius: 4px;
    
}
.score p{
    color: rgb(231, 35, 35);
    font-size: 45px;
   
    
}

.score p{
    text-align: center;
    padding: 5px 6px;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.home-cont button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
   
}

@media screen and (max-width:390px) {
    .container{
        transform: translateX(20%); 
    }
}